<li class="inline">
  <div class="dropdown">
    {{#basic-dropdown as |dd|}}
      {{#dd.content}}
        {{notifications-list notifications=notifications dropdown=dd}}
      {{/dd.content}}
      {{#dd.trigger}}
        <a id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">
          {{#if limitedUnreadCount}}
            <span class="bubble">{{limitedUnreadCount}}</span>
          {{/if}}
        </a>
      {{/dd.trigger}}
    {{/basic-dropdown}}
  </div>
</li>
