
{{!-- <div class="{{if navi.isInFullPageRoute 'full-page-wrapper' 'page-container'}}">
	{{#unless navi.isInFullPageRoute}}
		{{pg-header notifications=model.notifications}}
  {{/unless}} --}}

  {{!-- <div class="page-content-wrapper full-height"> --}}

		{{yield}}

{{!-- 		{{#unless (or navi.isInFullPageRoute navi.isInSaqEditRoute)}}
			{{pg-footer}}
	  {{/unless}} --}}
{{!--   </div> --}}

{{!-- </div>
 --}}