<div class="page-sidebar" data-pages="sidebar">
{{!--   <div id="appMenu" class="sidebar-overlay-slide from-top">
  </div> --}}

  <div class="sidebar-header">
    <img src="assets/img/logo_square.png" alt="logo" class="brand m-l-5" data-src="assets/img/logo_square.png" data-src-retina="assets/img/logo_square.png" height="22">
{{!--     <div class="sidebar-header-controls">
      <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" style="margin-top: 2px;" type="button"><i class="fa fa-angle-down fs-16"></i>
      </button>
      <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
      </button>
    </div> --}}
  </div>

  <div class="sidebar-menu">
    <ul class="menu-items">
      {{#link-to 'dashboard' class="m-t-15" tagName="li"}}
        <a class="detailed">
          <span class="title">Dashboard</span>
          <span class="details">Your Merchant home</span>
        </a>
        <span class="icon-thumbnail bg-info"><i class="pg-home"></i></span>
      {{/link-to}}

      {{#link-to 'saqs.edit' 1 tagName="li"}}
        <a class="detailed">
          <span class="title">SAQ</span>
          <span class="details">Manage your SAQs</span>
        </a>
        <span class="icon-thumbnail">Saq</span>
      {{/link-to}}
      {{!-- <li>
        {{#link-to 'saqs.edit' 1 class="detailed"}}
          <span class="title">SAQ</span>
          <span class="details">Manage your SAQs</span>
        {{/link-to}}
        <span class="icon-thumbnail">Saq</span>
      </li> --}}
     {{!--  <li>
        <a class="detailed">
          <span class="title">Scans</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail">Scn</span>
        <ul class="sub-menu">
        {{#link-to 'ips' tagName="li"}}
          <a>IPs</a>
          <span class="icon-thumbnail">ips</span>
        {{/link-to}}
        	{{#link-to 'scans' tagName="li"}}
        		<a>Scans</a>
        		<span class="icon-thumbnail">scn</span>
        	{{/link-to}}
          <li>
            <a>Schedules</a>
            <span class="icon-thumbnail">sch</span>
          </li>
        </ul>
      </li>
      <li>
        <a>
          <span class="title">Admin</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail">Usr</span>
      </li> --}}
    </ul>
    <div class="clearfix"></div>
  </div>

</div>
