<div style="width: 50%; text-align: center; margin: 0 auto;">
  {{#stagger-set inDirection="up" outDirection="left" inEffect="slideAndFade"}}
    {{#each answers.multiples as |answer|}}
      <button {{action attrs.answer answer.bringsTo}} class="btn btn-default btn-lg btn-larger btn-block text-left" style="white-space: normal; border-radius: 0;">
        <div>{{answer.text}}</div>
        <span class="hint-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius facilisis volutpat.</span>
      </button>
    {{/each}}
  {{/stagger-set}}
</div>
