<div style="width: 50%; text-align: center; margin: 0 auto;">
  <button class="btn btn-default btn-lg btn-larger" width="80px" {{action attrs.answer answers.yesBringsTo}}>Yes</button>
  <button class="btn btn-default btn-lg btn-larger" width="80px" {{action attrs.answer answers.noBringsTo}}>No</button>
</div>
