<div style="width: 50%; text-align: center; margin: 0 auto;">
  <button class="btn btn-default btn-lg btn-larger" width="80px" {{action attrs.answer answers.yesBringsTo}}>{{t 'app.button_yes'}}</button>
  <button class="btn btn-default btn-lg btn-larger" width="80px" {{action attrs.answer answers.noBringsTo}}>{{t 'app.button_no'}}</button>
</div>
