@import "bootstrap-custom";
@import "pages";

// Load font-awesome from its own directory instead of /fonts root
$fa-font-path: "../fonts/font-awesome";
@import "font-awesome";

// Patterns
@import "patterns/dropdowns.scss";
@import "patterns/buttons.scss";

// Components
@import "components/notifications.scss";
@import "components/header.scss";
@import "components/modals.scss";

// Layouts
@import "layouts/main.scss";
@import "layouts/footer.scss";
@import "layouts/text-wizard.scss";
@import "layouts/saq-editor.scss";
@import "layouts/dashboard.scss";


//Apply attr only to first .ember-view element inside body
// 'body > .ember-view:first-child, :not(.ember-view) + .ember-view {
// 	height: 100%;
// }'
// .ember-view {
// 	height: inherit;
// }

.height-auto {
  height: auto !important;
}
.height-50 {
	height: 50%;
}

.flex-center {
	display: flex; 
	align-items: center; 
	justify-content: center;
}

/* Utility */
.overflow-visible {
  overflow: visible;
}



/* Login */
.login-wrapper {
	background-color: #176E8E;
	.bg-pic > img {
		opacity: 0.2;
	}
}

/* Navigation */
.navbar {
	box-shadow: 2px 1px 1px #E2E2E2;
  background-color: white;
}
.breadcrumb {
	a {
		font-size: 16px!important;
		//color: $color-master;
	}
}

/* Sidebar */
.sidebar-menu {
	a {
		cursor: pointer;
	}
}

/* Tables */
// th {
// 	@extend .sm-pl-l-20;
// }
.ips-table {
	a[data-toggle="tab"] {
		padding-left: 36px;
	}
	thead {
		tr {
			th {
				border-bottom: none;
				padding-left: 36px;
				color: $color-master;
				&:first-child {
					padding-left: 36px !important;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				padding-left: 36px;
			}
		}
	}
}

/* Forms */
//Select2
.select2-container-multi .select2-choices .select2-search-field input {
	padding-left: 12px;
	padding-top: 8px;
}

/* Labels */
.label {
	text-transform: uppercase;
}
.label-NOT_SCANNED, .label-PAUSED, .label-STOPPED, .label-QUEUED {
	@extend .label-default;
}
.label-FINISHED {
	@extend .label-info;
}
.label-PASS, .label-NEW, .label-STARTED {
	@extend .label-success;
}
.label-FAIL, .label-FAILED {
	@extend .label-important;
}
.label-PENDING {
	@extend .label-warning;
}

/* Tabs */
// .nav-tabs {
//   li > a {
//     color: rgba(98,98,98,0.7);
//   }
// }

.ps-container {
	height: 100%; 
}

.ember-tooltip {
	z-index: 900;
}
.ember-tooltip-error {
  background-color: #e37f7f;
  color: #fff;
}