@import "bootstrap";
@import "pages";

// Load font-awesome from its own directory instead of /fonts root
$fa-font-path: "../fonts/font-awesome";
@import "font-awesome";


// Apply attr only to first .ember-view element inside body
body > .ember-view:first-child, :not(.ember-view) + .ember-view {
	height: 100%;
}

/* Layout */
.full-page-wrapper {
	@extend .login-wrapper;
}

/* Navigation */
.breadcrumb {
	a, a.active {
		font-size: 16px!important;	
		color: $color-master;
	}
}

/* Sidebar */
.sidebar-menu {
	a {
		cursor: pointer;
	}
}

/* Tables */
.ips-table {
	a[data-toggle="tab"] {
		padding-left: 50px;
	}
	thead {
		tr {
			th {				
				padding-left: 50px;
				&:first-child {
					padding-left: 50px !important;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				padding-left: 50px; 
			}
		}
	}
}

/* Login */
.login-wrapper {
	background-color: #176E8E;
	.bg-pic > img {
		opacity: 0.3;
	}
}