// saq-editor
.saq-editor-question-container {
    &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        margin-left: -15px;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color: #FFFFFF transparent transparent transparent;
    }
}

.saq-editor-title {
    font-weight: 600;
    color: #0090d9;
    font-size: 16px !important;
}

.saq-editor-answer-container {
    ul.nav-tabs-linetriangle {
        overflow-y: visible !important;
        white-space: nowrap;
        li {
            float: none;
            display: inline-block;
            a {
                padding: 15px 12px;
            }                
        }
    }
}

.saq-editor-not-applicable-textarea {
    height: calc(100% - 110px) !important;
    border-left: none;
    border-right: none;
}

.saq-editor-compensating-controls-tabs-pane {
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    display: -webkit-flexbox !important;
    -moz-box-orient: vertical;
    display: -moz-box !important;
    -ms-box-orient: vertical;
    display: -ms-box !important;
    display: -ms-flexbox !important;
    box-orient: vertical;
    display: box !important;
    display: flexbox !important;
    height: 100%;
}

.saq-editor-compensating-controls-tabs-content {
    height: calc(100% - 100px);
}

.saq-editor-compensating-controls-textarea {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
    border-left: none;
    border-right: none;
}

.saq-editor-compensating-controls-alert {
    padding: 20px 15px;
}