// saq-editor
.saq-editor-question-container {
  &:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #FFFFFF transparent transparent transparent;
  }
}

.saq-editor-title {
    font-weight: 600;
    color: #0090d9;
    font-size: 16px !important;
}