{{#ember-remodal forService=true name='terms-and-conditions'}}
  <header class="modal-header">
      <h1>Terms and Conditions</h1>
  </header>  

  <div class="modal-body" style="padding: 18px;">

  <p align="center">
      <strong>Subscription Terms and Conditions (20.05.16)</strong>
  </p>
  <p align="center">
      <strong>NTT Security Limited</strong>
  </p>
  <p>
      <strong> </strong>
  </p>
  <p>
      <strong> </strong>
  </p>
  <p>
  We are NTT Security Limited, a company<strong> </strong>registered in Ireland with company number 478729 [and trading as [INSERT TRADING NAME]] (    <strong>we</strong>, <strong>our</strong> and<strong> us</strong>). Our registered office is at Block 4, Harcourt Centre, Harcourt Road, Dublin 2, Ireland
      and our VAT number is IE9745593P.
  </p>
  <p>
      We are the owners and operators of a PCI security analysis and monitoring platform made available to you online (the<strong> Platform</strong>).
  </p>
  <p>
      These Subscription Terms and Conditions, together with our Privacy and Cookie Policy [<em>INSERT LINK</em>], our Terms of Use [<em>INSERT LINK</em>] and
      any other document referred to in these Subscription Terms and Conditions, set out all of the terms of the agreement for access and use of the Platform and
      the Services (as described below).
  </p>
  <p>
      By applying for access to the Services or by accessing or interacting with the Services, you agree to be bound by these Subscription Terms and Conditions
      and by any other terms expressly incorporated into it by reference which forms the agreement between us.
  </p>
  <p>
      1 Interpretation
  </p>
  <p>
      1.1 In this agreement:
  </p>
  <p>
      <strong>Confidential Information: </strong>
      means any information which is marked as confidential, which the party receiving it has been notified is confidential, which is of its nature confidential
      or any other commercially sensitive information in whatever form relating to the business, affairs, customers, clients, suppliers, plans, intentions,
      market opportunities of the party disclosing it, operations, processes, product information, design, trade secrets or software including, without
      limitation, technical data and know-how relating to the business of that party;
  </p>
  <p>
      <strong>Data Protection Laws:</strong>
      means all laws and regulations relating to the processing of personal data and privacy applicable to our activities;
  </p>
  <p>
      <strong>Documentation: </strong>
      means the documents and reports made available to you by us online via the Platform as part of the Services in accordance with the user instructions for
      the Services; <strong> </strong>
  </p>
  <p>
      <strong>Force Majeure Event</strong>
      : means any act or event preventing our performance of our obligations under this agreement which is beyond our reasonable control;
  </p>
  <p>
      <strong>Intellectual Property Rights</strong>
      : means patents, rights to inventions, copyright and related rights, trade marks, business names and domain names, rights in get-up, goodwill and the right
      to sue for passing off, rights in designs, database rights, rights to use, and protect the confidentiality of, confidential information (including
      know-how), and all other intellectual property rights, in each case whether registered or unregistered and including all applications and rights to apply
      for and be granted, renewals or extensions of, and rights to claim priority from, such rights and all similar or equivalent rights or forms of protection
      which subsist or will subsist now or in the future in any part of the world;
  </p>
  <p>
      <strong>Services</strong>
      : means the subscription services and support to assist you using those services and the Documentation provided by us under these terms and conditions via
      the Platform which enable customers to achieve, monitor and maintain compliance with PCI data security standards;
  </p>
  <p>
      <strong>Software: </strong>
      the online software applications provided by us as part of the Services;<strong> </strong>
  </p>
  <p>
      <strong>Subscription Fees</strong>
      : means our charges for providing you access to the Services, as advised by us from time to time which may be indicated by online prices but will be
      communicated to you via email; and
  </p>
  <p>
      <strong>Subscription Year</strong>
      : means a period of one year beginning on the date on which we grant you access to the Services in accordance with clause 3, or on any anniversary of that
      date.
  </p>
  <p>
      1.2 A reference to a company shall include any company, corporation or other body corporate, wherever and however incorporated or established.
  </p>
  <p>
      1.3 A reference to a statute or statutory provision is a reference to it as amended or re-enacted. A reference to a statute or statutory provision includes
      any subordinate legislation made under that statute or statutory provision, as amended or re-enacted.
  </p>
  <p>
      1.4 Any phrase introduced by the terms <strong>including</strong>, <strong>include</strong>, <strong>in particular</strong> or any similar expression,
      shall be construed as illustrative and shall not limit the sense of the words preceding those terms.
  </p>
  <p>
      1.5 A reference to writing or written includes email, but excludes fax.<strong><em> </em></strong>
  </p>
  <p>
      2 Our assumption about you
  </p>
  <p>
      2.1 You acknowledge that this agreement is entered into remotely, and we have no opportunity to conduct any pre-contract diligence on you. Therefore, you
      agree that we may make the following assumptions about you, and proceed as if those assumptions are true:
  </p>
  <p>
      2.1.1 we assume that you are not a consumer, because we do not provide any products or services suitable to consumers; and
  </p>
  <p>
      2.1.2 if you are a company or other legal entity, we assume that the natural person who indicates his or her acceptance of this agreement on your behalf
      has all the required powers, authorities and consents to bind you to this agreement.
  </p>
  <p>
      <a name="_Ref450558757">3 Access to the Services</a>
  </p>
  <p>
      3.1 In consideration for payment by you of the Subscription Fees, we will grant you access to the Services subject to the terms of this agreement. You will
      need to create an account with us by completing and submitting the online form at the Platform [INSERT LINK]. Your account will be enabled for access to
      the Services only once we receive payment of the Subscription Fees, unless we agree otherwise.
  </p>
  <p>
      3.2 You will be required to create a username and password. Your username and password are personal to you. You must treat them as confidential and, in
      particular, must take all reasonable measures to keep your password secure. You must not share your password with anyone else, and you agree to indemnify
      us for any loss, damage or claim we may incur as a result of your failure to keep your password secure. If you know or have reason to believe that your
      password has been compromised, you must tell us immediately.
  </p>
  <p>
      3.3 You shall not:
  </p>
  <p>
      3.3.1 except as may be allowed by any applicable law which is incapable of exclusion by agreement between you and us:
  </p>
  <p>
      (a) and except to the extent expressly permitted under this agreement attempt to copy, modify, duplicate, create derivative works from, frame, mirror,
      republish, download, display, transmit or distribute all or any portion of the Software and/or Documentation (as applicable) in any form or media or by any
      means; or
  </p>
  <p>
      (b) attempt to reverse compile, disassemble, reverse engineer or otherwise reduce to human-perceivable form all or any part of the Software;
  </p>
  <p>
      3.3.2 access all or any part of the Services and Documentation to build a product or service which competes with the Services and/or Documentation; or
  </p>
  <p>
      3.3.3 use the Services and/or Documentation to provide services to third parties; or
  </p>
  <p>
      3.3.4 attempt to obtain, or assist third parties in obtaining, access to the Services and/or Documentation, other than as provided under in this clause 3.
  </p>
  <p>
      3.4 Please note that your continued access to the Services are dependent upon your compliance with the terms of this agreement and our Terms of Use. We
      have the right to suspend your access to the Services in the circumstances set out in clause 10 and/or to terminate this agreement entirely in the
      circumstances set out in clause 11. You agree to indemnify us for any loss, damage or claim we may incur as a result of your breach of the terms of this
      agreement or our Terms of Use.
  </p>
  <p>
      3.5 We will use reasonable efforts to ensure the availability of the Services, but you acknowledge that it is inherent to the nature of online services
      that we cannot guarantee availability. We also reserve the right to make the Services unavailable from time to time for maintenance purposes.
  </p>
  <p>
      3.6 You are responsible for ensuring that your systems are functional, able to access the Internet and meet the system requirements for access to and use
      of the Services as we may advise from time to time.
  </p>
  <p>
      4 Subscription Fees, charges and payment
  </p>
  <p>
      4.1 The Subscription Fees for the Services and other charges which may apply (which will be exclusive of any VAT, sales tax or other tax of a similar
      nature which we are obliged to charge in addition) will be the price indicated on the Platform when you applied to access the Services.
  </p>
  <p>
      4.2 We reserve the right to increase the Subscription Fees and any other published charges for the Services at any time on not less than 60 days prior
      written notice, provided that such charges cannot be increased more than once in any 12 month period. If such increase is not acceptable to you, you must
      notify us in writing that you wish to terminate the agreement under the provisions of clause 11.2. We also reserve the right to increase the price of any
      of the Services not included in the Subscription Fees, by giving notice to you at any time to reflect any increase in the cost of the Services to us that
      is due to any factor beyond our control (including foreign exchange fluctuations, increases in taxes and duties, and increases in labour or materials) and
      otherwise we will give you written notice of any such increase 30 days before the proposed date of the increase.
  </p>
  <p>
      4.3 We will invoice you in Euros or such other currency as we may agree with you from time to time annually in advance (or as otherwise agreed between you
      and us) for the Subscription Fees for the Services. You must pay the Subscription Fees before we grant you access to the Services.
  </p>
  <p>
      4.4 Our preferred method of payment for our invoices is via the online payment portal accessible on our Platform. If you cannot make online payments we can
      also access payment by other means, but you will be reasonable for any additional charges we may thereby incur.
  </p>
  <p>
      <a name="_Ref450560974">5 Intellectual Property Rights</a>
  </p>
  <p>
      5.1 All Intellectual Property Rights in or arising out of or in connection with the Services shall be owned by us.
  </p>
  <p>
      5.2 All Documentation is the exclusive property of the Supplier.
  </p>
  <p>
      5.3 Except for the licenses granted in this clause 5, nothing in this agreement will alter or create any interest in any Intellectual Property Rights.
  </p>
  <p>
      5.4 We will grant you a royalty free, non-exclusive, non-transferable, revocable, worldwide licence to use our Intellectual Property Rights in the
      Services, Documentation and the Platform solely to the extent necessary to allow you to use the Services in accordance with the terms of this agreement and
      for your internal business operations only.
  </p>
  <p>
      5.5 You grant us a royalty free, non-exclusive, non-transferable, irrevocable during the term of this agreement, worldwide licence to use your Intellectual
      Property Rights solely to the extent necessary to allow us to provide the Services to you in accordance with the terms of this agreement.
  </p>
  <p>
      6 Confidentiality
  </p>
  <p>
      <a name="_Ref449002177"></a>
      <a name="_Ref450558739">
  6.1 From time to time, either of you or us (the <strong>Receiving Party</strong>) may receive Confidential Information from the other (the        <strong>Disclosing Party</strong>), except as permitted by clause
      </a>
      6.2.<a name="_Ref449108190"></a>
  </p>
  <p>
      <a name="_Ref449108234">6.2 The Receiving Party may disclose the Confidential Information:</a>
  </p>
  <p>
      6.2.1 to its employees, officers, representatives or advisers who need to know such Confidential Information for the purposes of exercising the Receiving
      Party’s rights or carrying out its obligations under or in connection with this agreement. The Receiving Party shall ensure that its employees, officers,
      representatives or advisers to whom it discloses the Disclosing Party’s Confidential Information comply with this clause 6.2; and
  </p>
  <p>
      6.2.2 as may be required by law, a court of competent jurisdiction or any governmental or regulatory authority.
  </p>
  <p>
      6.3 The Receiving Party may not use the Disclosing Party’s Confidential Information for any purpose other than to exercise its rights and perform its
      obligations under or in connection with this agreement.
  </p>
  <p>
      7 Privacy
  </p>
  <p>
      7.1 When we process your personal data, we do so in accordance with any applicable Data Protection Laws which apply to us and our Privacy and Cookie
      Policy. By using our Services, you agree to the processing of personal data as set out in the Privacy and Cookie Policy.
  </p>
  <p>
      <a name="_Ref450560916">8 Data p</a>
      rocessing
  </p>
  <p>
      8.1 Each of you and us will comply with our respective obligations under the applicable Data Protection Laws in connection with this agreement.
  </p>
  <p>
      8.2 We, or where applicable our supplier or subcontractor will process personal data on behalf of you in connection with this agreement. We will be the
      data processor and you will be the data controller:
  </p>
  <p>
      <a name="_Ref382492159">8.3 We, as the processor shall, or shall ensure that our supplier or subcontractor shall:</a>
  </p>
  <p>
      8.3.1 take appropriate technical and organisational measures to protect those data against unauthorised or unlawful processing and accidental loss,
      destruction or damage;
  </p>
  <p>
      8.3.2 ensure that, having regard to the state of technological development and their cost of implementation, those measures ensure a level of security
      appropriate to:
  </p>
  <p>
      (a) the harm that might result from such processing, loss, destruction or damage; and
  </p>
  <p>
      (b) the nature of the data;
  </p>
  <p>
      8.3.3 not process those data, and in particular (but without limitation) not disclose them to any person (other than a permitted subcontractor) or transfer
      them outside the European Economic Area, except on the instructions of the controller or as required by law or regulation;
  </p>
  <p>
      8.3.4 promptly inform the controller if it receives a request or notice from a data subject seeking to exercising his or her rights under the Data
      Protection Laws in respect of those data, and (at the controller's cost) comply with the controller's reasonable instructions with respect to that request
      or notice; and
  </p>
  <p>
      <a name="_Ref451440897">8.4 You, as the controller:</a>
  </p>
  <p>
      <a name="_Ref382492084">
          8.4.1 instruct the processor to take such steps in the processing of personal data on its behalf as the processor reasonably considers necessary to the
          exercise of its rights and the performance of its obligations under this agreement;
      </a>
  </p>
  <p>
      <a name="_Ref382492103">8.4.2 irrevocably authorise the processor to give equivalent instructions to any subcontractor on its behalf</a>
      ; and
  </p>
  <p>
      8.4.3 warrants that, to the extent relevant, it is and will remain entitled to give the instruction and authorisation in clauses 8.4 and 8.4.2 on behalf of
      its affiliates.
  </p>
  <p>
      8.5 The processor shall ensure that any subcontractor to which it delegates the processing of personal data on behalf of the controller is bound by a
      written agreement imposing on the subcontractor obligations equivalent to those set out in clause 8.3.
  </p>
  <p>
      9 Force majeure
  </p>
  <p>
      9.1 We will not be liable for any failure to perform our obligations under this agreement which is caused by any Force Majeure Event. We will inform you as
      soon as reasonably practicable of the occurrence of a Force Majeure Event and will use reasonable endeavours to perform our obligations to you
      notwithstanding that Force Majeure Event.
  </p>
  <p>
      10 Suspension of access to the Services
  </p>
  <p>
      10.1 We reserve the right to suspend access to the Services if:
  </p>
  <p>
      10.1.1 you breach of this agreement or our Terms of Use; or
  </p>
  <p>
      10.1.2 you fail to pay to us when due any amount payable under this agreement.
  </p>
  <p>
      10.2 If we suspend access to the Services, we may, depending on the reason for the suspension, give you a reasonable opportunity to rectify the
      circumstances giving rise to the suspension, or to provide us with assurances and evidence that you have taken sufficient steps to prevent those
      circumstances from recurring, in which case, provided that you do so to our satisfaction, we will reinstate access to the Services as soon as reasonably
      practicable.
  </p>
  <p>
      11 Term, termination and consequences of termination
  </p>
  <p>
      11.1 This agreement shall commence on the date we grant you access to the Services and shall continue for the Subscription Year and thereafter this
      agreement shall automatically be renewed for successive periods of 12 months, each being a further Subscription Year unless:
  </p>
  <p>
      11.1.1 either party notifies the other party of termination, in writing, at least 60 days before the end of the current Subscription Term, in which case
      this agreement shall terminate upon the expiry of that Subscription Term; or
  </p>
  <p>
      11.1.2 otherwise terminated in accordance with the provisions of this agreement.
  </p>
  <p>
      11.2 Either party may terminate this agreement on expiry of not less than 30 days’ written notice to the other, which, in your case, must expire at the end
      of the then-current Subscription Year for the Services you are terminating unless you wish to terminate in response to a change in the Subscription Fees
      when we may at our discretion accept such termination notice other than at the end of a Subscription Year but will not refund any pre-paid Subscription
      Fees.
  </p>
  <p>
      11.3 Additionally, we may terminate this agreement and your access to the Services immediately if:
  </p>
  <p>
      11.3.1 you fail to pay to us when due any amount payable under this agreement, and such amount remains unpaid no less than 14 days after the due date;
  </p>
  <p>
      11.3.2 you commit a material breach of any other term of this agreement which either cannot be remedied or, if it can be remedied, you fail to remedy that
      breach within 30 days of being notified by us to do so;
  </p>
  <p>
      11.3.3 you repeatedly breach any of the terms of this agreement in such a manner as to reasonably justify the opinion that your conduct is inconsistent
      with you having the intention or ability to give effect to the terms of this agreement;
  </p>
  <p>
          11.3.4 you suspend, or threaten to suspend, payment of your debts, you are unable to pay your debts as they fall due or you admit inability to pay your
          debts;
  </p>
  <p>
      11.3.5 you commence negotiations with all or any class of your creditors with a view to rescheduling any of your debts, or you make a proposal for or enter
      into any compromise or arrangement with your creditors;
  </p>
  <p>
      11.3.6 a petition is filed, a notice is given, a resolution is passed, or an order is made, for or in connection with your winding up;
  </p>
  <p>
      11.3.7 an application is made to court, or an order is made, for the appointment of an administrator, or if a notice of intention to appoint an
      administrator is given or if an administrator is appointed, over you;
  </p>
  <p>
      11.3.8 the holder of a qualifying floating charge over your assets has become entitled to appoint or has appointed an administrative receiver;
  </p>
  <p>
      11.3.9 a person becomes entitled to appoint a receiver over your assets or a receiver is appointed over your assets;
  </p>
  <p>
      <a name="_Ref450820842">
          11.3.10 your creditor or encumbrancer attaches or takes possession of, or a distress, execution, sequestration or other such process is levied or
          enforced on or sued against, the whole or any part of your assets and such attachment or process is not discharged within 14 days;
      </a>
  </p>
  <p>
      <a name="_Ref382924559">
          11.3.11 any event occurs, or proceeding is taken, with respect to you in any jurisdiction to which you are subject that has an effect equivalent or
          similar to any of the events mentioned in clause
      </a>
      11.3.4 to 11.3.11 (inclusive); or
  </p>
  <p>
      11.3.12 you suspend or cease, or threaten to suspend or cease, carrying on all or a substantial part of your business.
  </p>
  <p>
      11.4 On termination of this agreement for any reason:
  </p>
  <p>
      11.4.1 we will immediately cancel your account;
  </p>
  <p>
      11.4.2 all licences granted under this agreement shall terminate immediately;
  </p>
  <p>
      11.4.3 you shall return and make no further use of the Documentation; and
  </p>
  <p>
      11.4.4 all rights, remedies, obligations or liabilities of the parties that have accrued up to the date of termination, including the right to claim
      damages in respect of any breach of this agreement which existed at or before the date of termination shall not be affected or prejudiced.
  </p>
  <p>
      12 Limitation of liability
  </p>
  <p>
      12.1 Our liability is limited or excluded as follows:
  </p>
  <p>
      <a name="_Ref449024038">
          12.1.1 nothing in this agreement excludes our liability for fraud or fraudulent misrepresentation or any other liability which cannot be limited or
          excluded under English law;
      </a>
      <a name="_Ref449004878"></a>
      <a name="Ref382925252"></a>
  </p>
  <p>
      <a name="_Ref449024148">12.1.2 subject to claus</a>
      e 12.1.1, we will not be liable to you, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, fines or penalties, for
      any loss of profits, loss of sales or business, loss of agreements or contracts, account of our profits, increased costs, loss of anticipated savings, loss
      of or damage to goodwill, loss of use or corruption of software, data or information, or for any indirect or consequential loss arising under or in
      connection with this agreement or as a result of the use of the Documentation or any other outcome of the use of the Services including without limitation
      an indication that your business is not compliant with PCI DSS requirements; and
  </p>
  <p>
      <a name="_Ref450560730"></a>
      <a name="Ref382925862">12.1.3 subject to clauses </a>
      12.1.1 and 12.1.2, our maximum total liability, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, arising out of or
      in connection with this agreement shall be limited to an amount equal to the total Subscription Fees paid by you to us during the 6 months immediately
      preceding the date on which the claim arose.
  </p>
  <p>
      13 General
  </p>
  <p>
      <a name="_Toc442871262"></a>
      <a name="a927497"></a>
      <a name="_Ref449107381">
          13.1 <strong>Notice</strong>. A notice under or in connection with this agreement shall be in writing and delivered personally or sent by first class
          post or by email to the address set out in this clause. The address referred to in this clause
      </a>
      13.1 is:
  </p>
  <p>
      13.1.1 in the case of notices to you, the postal address or email address (as applicable) provided to us by you when you applied for access to the Services
      in accordance with clause 3, as updated from time to time through the Services; and
  </p>
  <p>
      13.1.2 in the case of notices to us, to the postal address or email address (as applicable) as set out at the top of these Subscription Terms and
      Conditions, or such updated postal address or email address as we may specify from time to time in writing.
  </p>
  <p>
      <a name="_Ref442880179">
          13.2 <strong>Entire agreement</strong>. This agreement (including any documents referred to in it) constitutes the entire agreement between the
          parties, and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between them,
          whether written or oral, relating to its subject matter. Each party acknowledges that in entering into this agreement it does not make and does not
          rely on any statement, representation, assurance or warranty (whether made innocently or negligently) (each, a “<strong>Representation</strong>”) that
          is not set out in this agreement. Each party agrees that the only rights and remedies available arising out of or in connection with a Representation
          will be for breach of the agreement. Nothing in this clause will limit or exclude any liability for fraud.
      </a>
  </p>
  <p>
      13.3 <strong>No partnership or agency</strong>. Nothing in this agreement is intended to or shall operate to create a partnership between the parties, or
      authorise either party to act as agent for the other, and neither party shall have the authority to act in the name or on behalf of or otherwise to bind
      the other in any way (including, but not limited to, the making of any representation or warranty, the assumption of any obligation or liability and the
      exercise of any right or power).
  </p>
  <p>
      13.4 <strong>Assignment and other dealings</strong>. You may not assign, transfer, subcontract or deal in any other manner with any of your rights and/or
      obligations under this agreement without our prior written consent, which we will not unreasonably withhold. We may at any time assign, transfer,
      sub-contract or deal in any other manner with any or all of our rights and/or obligations under this agreement.
  </p>
  <p>
      13.5 <strong>Third party rights</strong>. Except as otherwise provided in this agreement, nothing in this agreement confers any rights on any person not a
      party to it.
  </p>
  <p>
      13.6 <strong>Amendments. </strong>We may from time to time revise the terms on which we provide the Services and make the Platform available to you. If we
      make such revisions we will notify you and you may then contact us to end this agreement before the changes take effect. If you continue to access the
      Services after the expiry of that notice, you will be deemed to have accepted such revisions.<strong> </strong>
  </p>
  <p>
      13.7 <strong>Waiver</strong>. No failure or delay by a party to exercise any right or remedy provided under this agreement or by law will constitute a
      waiver of that or any other right or remedy, nor will it prevent or restrict the further exercise of that or any other right or remedy. No single or
      partial exercise of such right or remedy will prevent or restrict the further exercise of that or any other right or remedy.
  </p>
  <p>
      13.8 <strong>Severance</strong>. If any provision or part-provision of this agreement is or becomes invalid, illegal or unenforceable, it will be deemed
      modified to the minimum extent necessary to make it valid, legal and enforceable. If such modification is not possible, the relevant provision or
      part-provision will be deemed deleted. Any modification to or deletion of a provision or part-provision under this clause will not affect the validity and
      enforceability of the rest of this agreement.
  </p>
  <p>
      13.9 <strong>Governing law and jurisdiction</strong>. This agreement, its subject matter and its formation (and any non-contractual disputes or claims) are
      governed by English law and subject to the exclusive jurisdiction of the courts of England.
  </p>


  </div>

{{!--   <div class="modal-footer">
  	<button {{action "agreeTc"}} class="btn green">Agree</button>
  	<button {{action "close"}} class="btn transparent no-depth no-border">Cancel</button>
  </div> --}}
{{/ember-remodal}}
