/* Notifications */
// Pages notitications-panel
.notification-panel .notification-body .notification-item {

  .heading {
    opacity: 1;
  }

  .more-details .more-details-inner {
    &:before {
      left: -0.29rem;
      line-height: 0px;
    }
    margin-left: 7px;
    padding-right: 5px;
    padding-left: 28px;
    padding-top: 10px;
    margin-bottom: 20px;  
  }
}



.notification-toggle {
  top: 15px;
}

// .icon-set.globe-fill {
//   top: 4px;
//   outline: none;
// }