/* Notifications */
// Pages notitications-panel
.notification-panel .notification-body .notification-item .more-details .more-details-inner {
  &:before {
    left: -0.29rem;
    line-height: 0px;
  }
  margin-left: 7px;
  padding-right: 5px;
  padding-left: 28px;
  padding-top: 10px;
  margin-bottom: 20px;
}
