<div class="row column-seperation padding-15">
  <div class="col-md-12">
    <div class="row row-same-height">
      <div class="col-md-5 b-r b-dashed b-grey ">
        <div class="padding-30 m-t-30">
          <h2>Confirm your details</h2>
          <p>Please confirm your business details before proceeding, we will use such details to generate the required PCI DSS documentation.</p>
          <p class="small hint-text">Completing a Self Assessment Questionnaire represents an assumption of responsibility towards the industry cards schemes, your financial institutions and your connected business partners.</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="padding-30">
          {{user-editor model=model onComplete=(action "goToNextStep") saveText="Next"}}
        </div>
      </div>
    </div>
  </div>
</div>
