<div class="row column-seperation padding-15">
  <div class="col-md-12">
    <div class="row row-same-height">
      <div class="col-md-5 b-r b-dashed b-grey ">
        <div class="padding-30 m-t-30">
          <h2>Confirm your details</h2>
          <p>
            Please confirm your business details before proceeding, we will use these to generate the required PCI DSS documentation.
          </p>
          <p>
            <h5 class="m-b-5">Why?</h5>
            The PCI council and the cards schemes require eligible merchants to fulfill the so-called Self Assessment Questionnaire (or SAQ) on a yearly basis.
            <br>
            In fact, an important section of such document is represented by the Attestation of Compliance (or AOC) which includes business details information, such as legal contacts and business type (i.e. eCommerce or MOTO).
          </p>
          <p class="small hint-text">
            Completing a Self Assessment Questionnaire represents an assumption of responsibility towards the industry cards schemes, your financial institutions and your connected business partners.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="padding-30">
          {{user-editor model=model onComplete=(action "goToNextStep") saveText="Next"}}
        </div>
      </div>
    </div>
  </div>
</div>
