<div class="bg-pic hidden-sm hidden-xs" style="position: absolute;">
  <img src="assets/img/backgrounds/pci_road_bg_transparent.png" style="opacity: 0.3; width: 2000px; top: 90px; position: relative; left: -50px;" />
</div>

<div class="row column-seperation padding-15">
  <div class="col-md-4">
    <h3>
      Welcome to <span class="semi-bold">ZeroRisk for Merchants</span>.
    </h3>
  </div>
  <div class="col-md-8">
  <h3 class="semi-bold">Let's start</h3>
    <p>You have been invited to join the beta program of ZeroRisk for Merchants!</p>
    <p>Please understand many functionalities are currently under development, including this wizard.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius facilisis volutpat. Maecenas at felis sed ante ornare elementum. Duis imperdiet, sem ut luctus rhoncus, sapien augue interdum est, id gravida elit libero et lectus. Sed tempor efficitur eleifend. Donec sodales neque orci, ut vehicula velit fermentum a.</p>
    <p class="pull-right">
      {{#link-to "enrollment.user-details" tagName="button" class="btn btn-success btn-cons" type="button"}}Start{{/link-to}}
    </p>
  </div>
</div>
