<div class="row column-seperation">
  <div class="col-md-3">
    <h3>
    <span class="semi-bold">Welcome</span> to ZeroRisk for Merchants.
    </h3>
  </div>
  <div class="col-md-9">
  <h3 class="semi-bold">Let's start</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius facilisis volutpat. Maecenas at felis sed ante ornare elementum. Duis imperdiet, sem ut luctus rhoncus, sapien augue interdum est, id gravida elit libero et lectus. Sed tempor efficitur eleifend. Donec sodales neque orci, ut vehicula velit fermentum a.</p>
  <p class="pull-right">
    {{#link-to "enrollment.user-details" tagName="button" class="btn btn-success btn-cons" type="button"}}Next{{/link-to}}
  </p>
  </div>
</div>