  <div class="saq-editor-question-container container-fluid bg-white height-50 flex-center" style="overflow: auto;">  
      
      {{!-- {{#liquid-bind question.id class="flex-center" as |cq| }} --}}
        <div style="width: 80%; margin: auto; padding: 30px 0px;">
          <div class="hint-text all-caps fs-10 font-montserrat">Question</div>
          <h5>{{{question.text}}}</h5>
        </div>
      {{!-- {{/liquid-bind}} --}}

      {{#if canGoPrev}}
        <a {{action 'goBack'}} class="hidden-xs" style="position: absolute; top: 42%;">
          <i class="fa fa-angle-left fa-2x muted" aria-hidden="true"></i>
        </a>
      {{/if}}

      {{#if canGoNext}}
        <a {{action 'goBack'}} class="hidden-xs" style="position: absolute; top: 42%;">
          <i class="fa fa-angle-right fa-2x muted" aria-hidden="true"></i>
        </a>
      {{/if}}
  </div>
