.btn-transparent {
	background-color: transparent;
}

.btn-attachment {
  .icon-download {
    @include animation(fadeIn 0.5s);
    display: none;
  }
  &:hover .icon-download {
    display: inline-block;
  }
}