<div class="content sm-gutter" style="height: 90%;">
	<div class="container-fluid container-fixed-lg full-height" style="width: 100%;">
		<iframe src="https://s3-eu-west-1.amazonaws.com/ntt-legal/terms-of-use.html" style="border: none; width: 100%; height: 100%;" />
	</div>
</div>